body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
}

#about_store{
    display: flex;
    margin-right: auto;
    align-items: center;
    list-style: none;
    font-size: 13.5px;
}

#about_store li{
    margin-right: 20px;
}

#navigation{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 13.5px;
}


#navigation li{
    margin-right: 20px;
}

#navigation li:hover{
    text-decoration: underline;
}

#apps,#user{
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

#user p{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: brown;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: white;
}


#apps:hover, #user:hover{
    background-color: rgb(233, 233, 233);
}

#apps img{
    width: 25px;
}

/*----------------------------------------*/

#google_logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#google_logo img{
    width: 350px;
}

#search_area{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#search_box{
    display: flex;
    border: 1px solid gray;
    width: fit-content;
    height: 40px;
    border-radius: 25px;
    align-items: center;
}

#search_box *{
    margin: 0 5px 0 5px;
}

#search_icon{
    display: flex;
    align-items: center;
    width: 30px;
    color: gray;
}

#search_bar, #search_bar:focus{
    min-width: 400px;
    min-height: 20px;
    font-size: large;
    border: none;
    outline: none;
}

#voice_icon{
    display: flex;
    justify-content: ;
}

#voice_icon img{
    width: 25px;
}




#sub_button{
    display: flex;
    justify-content: center;
}

#sub_button *{
    margin: 0 15px 0 15px;
    padding: 10px;
    background-color: #f5f5f5ef;
    border: 1px transparent solid;
    border-radius: 10px;
    font-weight: 100;
}

#sub_button *:hover{
    border-color: rgb(204, 193, 193);
}

